html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

footer {
    text-align: center;
    background-color: #e4c412;
}

.btn-new{
    text-align: end;
}
