@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a!</h1>
    <div style="padding:100px;">
    <img src="~/css/Image/RazorAcademy.png" alt="Logo" width="500px"/>
    </div>
</div>
