@page
@model CRUD_NetRazor.Pages.ProfessorsView.CreateProfessorModel
@{
     ViewData["Title"] = "Nuevo Profesor";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-secundary">NUEVO PROFESOR</h2>
            </div>
            <div class="col-sm-6 btn-new">
                <a asp-page="CreateProfessor" class="btn btn-secundary"> Nuevo Profesor</a>
            </div>
        </div>
    </div>
 <div class="card-body">
       <form method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger">
           </div>
           <div class="container" style="padding:30px">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Professor.Name"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Professor.Name" class="form-control"></>
                        </div>
                        <span asp-validation-for="Professor.Name" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Professor.Surname"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Professor.Surname" class="form-control"></>
                        </div>
                        <span asp-validation-for="Professor.Surname" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Professor.Date_birth"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Professor.Date_birth" class="form-control"></>
                        </div>
                        <span asp-validation-for="Professor.Date_birth" class="text-danger"></span>
                    </div>                    
                </div>
                 <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Professor.Specialty"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Professor.Specialty" class="form-control"></>
                        </div>
                        <span asp-validation-for="Professor.Specialty" class="text-danger"></span>
                    </div>
                 <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Professor.Admission_date"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Professor.Admission_date" class="form-control"></>
                        </div>
                        <span asp-validation-for="Professor.Admission_date" class="text-danger"></span>
                    </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="submit" class="btn btn-dark" value="Crear"/>
                    <a asp-page="Index" class="btn btn-dark">Cancelar</a>
                </div>
           </div>
       </form>
    </div>
</div>